.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #fff;
    display: flex;
    z-index: 9999;
    border-right: 1px solid #eee;

    .h_left {
        width: 60px;
        height: 100%;
        background: #333;
        padding: 20px 0 0 8px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 60px;
            width: 55px;
            height: 5px;
            background: #da544b;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 115px;
            width: 55px;
            height: 5px;
            background: #ffa620;
        }

        strong {
            user-select: none;
            display: block;
            writing-mode: vertical-lr;
            color: #fff;
            font-size: 14px;
            padding: 20px 0 0 12px;
            letter-spacing: 5px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #ddd;

            .btn_qna {
                font-size: 24px;
                font-weight: 500;
                transform: rotate(0);
                transition: 0.5s;
            }

            &:hover .btn_qna {
                transform: rotate(180deg);
            }
        }
    }

    .h_right {
        display: flex;
        flex-direction: column;
        gap: 100px;
        width: 220px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 55px;
            width: 55px;
            height: 5px;
            background: #337689;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 55px;
            height: 5px;
            background: #6fa476;
        }

        h1 {
            padding: 60px 25px 0;

            a {
                img {
                    width: 170px;
                }
            }
        }

        .gnb {
            ul {
                padding-left: 15px;

                li {
                    padding-right: 15px;

                    a {
                        display: block;
                        font-weight: 500;
                        line-height: 50px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    }

                    &:hover .sub {
                        visibility: visible;
                        width: 200px;
                        transition: 0.5s;
                    }

                    &:hover .sub li {
                        opacity: 1;
                        transition: 0.5s 0.2s;
                    }

                    .sub {
                        visibility: hidden;
                        position: absolute;
                        top: 0;
                        left: 280px;
                        width: 0;
                        height: 100vh;
                        padding: 270px 15px 0;
                        background: #333;
                        color: #fff;

                        li {
                            opacity: 0;
                            width: 170px;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .qna {
            position: relative;
            padding: 0 15px;

            .txt {
                display: block;
                margin: 0 0 24px 0;
                padding: 0 0 12px 0;
                border-bottom: 1px solid #ddd;
                font-weight: 700;
            }

            strong {
                font-size: 32px;
                font-weight: 900;
            }

            a {
                .btn_app {
                    position: absolute;
                    top: -4px;
                    right: 15px;
                    font-size: 20px;
                    transform: rotate(0);
                    transition: 0.5s;

                }

                &:hover .btn_app {
                    transform: rotate(180deg);
                }

            }

        }
    }
}